@{
    ViewData["Title"] = "Home";
}
<hgroup>
    <h1>MVC + Duende IdentityServer</h1>
    <p>Authorization Code + PKCE; scopes: <code>openid profile payments.read accounting.read</code></p>
</hgroup>


@if (User?.Identity?.IsAuthenticated ?? false)
{
    <div class="grid">
        <a class="contrast" href="/call-payments">Call Payments API</a>
        <a class="contrast" href="/call-accounting">Call Accounting API</a>
    </div>
}
else
{
    <p>Please <a asp-controller="Account" asp-action="Login">login</a> to call protected APIs.</p>
}